<% provide(:title, "About") %>
<br><br><br>
<div class="container">
<% if logged_in? and @current_user.approval == false %>
  <h1> Olá, <%= current_user.name %> ! Aguarde a aprovação do seu cadastro!</h1>
  <%= link_to 'Logout', logout_path, method: :destroy %>
<% elsif logged_in? and @current_user.approval == true %>
 	<h1> Olá, <%= current_user.name %> !</h1>
  <%= link_to 'Logout', logout_path, method: :destroy %>
<% else %>
<%	provide(:title,	"Entrar")	%>
	<div class="col-md-6	col-md-offset-3" id="form">
		<%=	form_for(:session,	url:	login_path)	do	|f|	%>
			<%=	f.label	:Nome_de_usuário%>
			<%=	f.text_field	:nickname,	class:	'form-control'	%>
			<%=	f.label	:Senha	%>
			<%=	f.password_field	:password,	class:	'form-control'	%>
			<%=	f.submit	"Log in",	class:	"btn	btn-primary"	%>
		<%	end	%>
		<br>
		<center>
		<p>Não possui cadastro? <%=	link_to	"Cadastre-se!",	signup_path	%></p>
		</center>
	</div>
<% end %>
<br><br><br>
</div>