<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(:name, "Nome") %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label(:email, "E-mail") %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label(:birthday, "Aniversário") %><br>
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label(:address, "Endereço") %><br>
    <%= f.text_field :address %>
  </div>

  <% unless @user.approval? %>
    <div class="browser-default">
      <%= f.label(:address, "Perfil") %>
      <%= f.collection_select :profile_id, @profiles, :id, :name, { prompt: "Escolha um Perfil" }, class: "browser-default" %>
    </div>
  
    <div>
      <p>
        <%= f.label :validation_image, "Foto de Validação de Usuário" %>
      </p>
      <span class="btn btn-default btn-file">
        Browse<%= f.file_field :validation_image, class: 'form-control' %>
      </span>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(:nickname, "Usuário") %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label(:cpf, "CPF/CNPJ") %><br>
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label(:password, "Senha") %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label(:password_confirmation, "Confirme sua senha") %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit("Enviar") %>
  </div>
<% end %>
