<h1> Usuário aprovado </h1>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Aniversário:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Nome de usuário:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>
