<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Nome de usuário:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Aprovação:</strong>
  <%= @user.approval ? "Aceito" : "Pendente" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<% if @user.approval == false && current_user.admin? %>
        <p>
          <strong>Documento de Aprovação:</strong>
          <% if @user.validation_image.nil? %>
            <%= image_tag(@user.validation_image , class: 'img-responsive question-img') %>
          <% else %>
            <%= "Não possui" %>
          <% end %>
        </p>
        
        <td><%= link_to 'Aprovar', approve_user_path(@user), data: { confirm: 'Tem certeza que deseja aprovar o usuário?' }  %></td>   
<% end %>

